{% extends "layout.html" %}


{% block content %}
    <h1 align="center">{{ title.title() }}'s Posts</h1>
    <br>
    {% for post in posts %}
        <div class="card card-body bg-light">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="/posts/{{ post.user.username }}" class="text-decoration-none">{{ post.user.username }}</a>
                {% if user.id==post.author %}
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li><a href="/delete-post/{{ post.id }}" class="dropdown-item">Delete</a></li>
                    </ul> 
                </div>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="card-text">{{ post.text }}</div>
            </div>
            <div class="card-footer text-muted">
                <div>{{ post.date_created }}</div>
            </div>
        </div>
        <br>
    {% endfor %}

    <div align="center">
        <a href="/create-post" class="btn btn-primary">Create a Post</a>
    </div>
    <br>
    <div align="center">
        <a href="/home" class="btn btn-secondary">Back to Home</a>
    </div>
{% endblock content %}